.docs-container {
    width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
}

.docs-container .navigation {
    position: fixed;
    padding-top: 50px;
}

.docs-container .navigation li {
    list-style: none;
    font-size: 22px;
    margin-top: 20px;
}

.docs-container .content {
    width: 70%;
    margin-left: 30%;
}

.docs-container .content .anchor {
    display: block;
    position: relative;
    top: -128px;
    visibility: hidden;
}
