.docs-container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
}

.docs-container .header {
    margin-left: 50px;
    margin-bottom: 25px;
}

.docs-container a {
    text-decoration: underline;
}
